<?xml version="1.0" encoding="utf-8" ?> 
<!-- 
  usync v3 Config file 
  ====================
  Contains all the settings for any uSync stuff you have
    
-->
<configuration>
  <configSections>
    <section name="usync.core"
        type="Jumoo.uSync.Core.uSyncCoreSettingsSection,Jumoo.uSync.Core" allowLocation="true" allowDefinition="Everywhere" />
    <section name="usync.backoffice"
             type="Jumoo.uSync.BackOffice.uSyncBackOfficeSettingsSection,Jumoo.uSync.BackOffice" allowLocation="true" allowDefinition="Everywhere" />
  </configSections>

  <!-- the usync-engine -->
  <usync.core>
    <DataTypes PreValuesWithContentIds="startNode, startNodeId" />
  </usync.core>

  <!-- standard usync -->
  <usync.backoffice
    Import="true" 
    ExportAtStartup="false"
    ExportOnSave="true"
    WatchForChanges="false"
    ArchiveVersions="true"
    Folder="~/uSync/"
    ArchiveFolder="~/uSync.Archive"
  >

    <!-- turn bits on and off - by default it's all on-->
    <Elements
      docTypes="true"  
      dataTypes="true"
      mediaTypes="true"
      templates="true"
      stylesheets="true"
      macros="true"
      dictionary="true"
      
    />
  
  </usync.backoffice>
</configuration>
